.navbar-right {
    position: fixed;
    right: 30px;
}

.img-fluid {
    max-width: 100%;
    max-height: 0.0001%;
}

.container-fluid {
    padding: 0 0;
    position: relative;
}

.container-fluid .btn {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 3vw;
    padding: 0 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 1s cubic-bezier(0.73, 0.26, 0.12, 0.83);
    display: block;
}

.container-fluid .btn:hover {
    background-color: white;
    color: red;
}

.form-inline {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 10vw; */
}

.centered {
    text-align: center;
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(0.73, 0.26, 0.12, 0.83);
    display: block;
}

.panel-title-hp {
    font-size: 4vw;
    height: 150px;
    padding-top: 5vw;
    padding-bottom: 15vw;
    transition: all 1s cubic-bezier(0.73, 0.26, 0.12, 0.83);
    display: block;
}

.text-center {
    text-align: center;
}

.panel-title-hp .panel-title-shadow-hp {
    font-size: 6vw;
    color: #e8e8e8;
    font-weight: bold;
    transform: translateY(0.5rem) scale(1.05);
    transition: all 1s cubic-bezier(0.73, 0.26, 0.12, 0.83);
    display: block;
}

.panel-title-hp .panel-title-hp-line {
    position: relative;
    top: -35px;
    transform: translateY(-0.5rem) scale(1);
    transition: all 1s cubic-bezier(0.73, 0.26, 0.12, 0.83);
    display: block;
}
.panel-title-hp .panel-title-default-hp {
    color: #333333;
    display: inline;
    font-weight: bold;
}

.panel-title-hp .panel-title-highlight-hp, strong {
    color: #d63246;
    display: inline;
    font-weight: bold;
}

.profile {
    padding-top: 20px;
    padding-bottom: 50px;
}

.jumbotron {
    margin-bottom: 0;
    padding: 10px 0;
    background-color:#676767;
}

.jumbotron a {
    
    color: white;
}

mark {
    background-color : lightgoldenrodyellow;
    padding-top: 1px;
    padding-bottom: 1px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}